<div class="container-fluid">
  <h1>Welcome</h1>
   <div class="row">
      <div class="col">
        <%= image_tag("hammock.jpg", :size => '400x718', :alt => "(:") %>
      </div>
      <div class="col">
        <p>This is a portfolio/creative-platform of sorts for me to share and create whatever I want. </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>My <a href="https://github.com/nohlson">GitHub</a></h1>
      </div>
      <div class="col">
        <h2> My <a href="<%= asset_path('Resume2018.pdf') %>">Resume</a></h2>
      </div>
    </div>
  </div>
</div>